<?xml version="1.0" encoding="UTF-8"?>
<!--Spring的约束文件 使用那些模块就标记那些模块的约束文档 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">



    <beans>
        <bean id="hbaseConnectionFactory" class="com.java.hb.HbaseConnectionFactory">
            <constructor-arg value="#{hbConfig.poolSize}"/>
            <constructor-arg value="#{hbConfig.zookeeperHost}"/>
        </bean>

        <bean id="hbaseUtil" class="com.java.hb.HbaseUtil">
            <constructor-arg ref="hbaseConnectionFactory"/>
        </bean>

    </beans>


</beans>